{% extends 'base.html' %}


{% block content %}

		<!-- Disposição do Produto -->
		<div class="container" style="margin-top: 10vh; margin-bottom: 5vh" >
			<div class="card" style="margin-bottom: 2vh">
				<div class="card-body">
					<h5>Entrega de: </h5>
					<h3 class="text-align-center"><b>{{ today }}</b></h3>
				</div>
			</div>

			<div class="card" style="margin-bottom: 2vh">

				<div class="card-body">

			<!-- Tabela de Pedido -->
			<div class="table-responsive rounded">
				<table class="table bg-light" style="margin-bottom: 15px">
				  <thead class="thead-dark">
				    <tr>
				      <th scope="col">#</th>
				      <th scope="col">Registrado às</th>
				      <th scope="col">R$</th>
				    </tr>
				  </thead>
				  <tbody>
				  	{% for order in ordersData %}
				  	{% for desc in order %}
				    <tr>
				    	
				      <th class="text-center" scope="row"><a href="/pedidoDetalhado/{{desc[0]}}">{{ desc[0] }}</a></th>
				      <td class="text-center" >{{ desc[1] }}</td>
				      <td class="text-right" >{{ desc[2] }}0</td>
				    </tr>
				    {% endfor %}
				    {% endfor %}
				  </tbody>
				</table>
			</div>
			<!-- Fim Cards de Produtos-->
				</div>
			</div>

			<div class="card text-white bg-info mb-3" >
  <div class="card-header"><h5 class="card-title">Os seguintes produtos foram pedidos:</h5></div>
  <div class="card-body">
    <ul>
    	{% for prod in productsToday %}
    	<li>{{ prod[0] }}</li>
    	{% endfor %}
    </ul>
  </div>
</div>

			<div>
				<a href="/manager">
			<button type="button" class="btn btn-primary btn-md btn-block">
				Voltar ao Menu
			</button>
			</a>
			</div>
		</div>



{% endblock %}